@tailwind base;
@tailwind components;
@tailwind utilities;


/* override slick default dot size */
.slick-dots li,
.slick-dots li.slick-active,
.slick-dots li button 
{
    width: auto !important;
    height: auto !important;
    margin: 2px !important;
    padding: 0 !important;
}

.slick-dots li.slick-active div 
{
    @apply bg-black scale-110;
}